<% 
    me = {
        id: 1,
        title: "ホーム"
    };
    var $partial = "./_partial";
    var $img = "/img";

%>  
<%- include($partial+'/_head.ejs', {me: me, $root: '.' }) %>
<body class="home">
    <%- include($partial+'/_header.ejs', {my_id: me.id, root: '.' }) %>
    <section class="hero">
        <div class="hero__text">
            <h1 class="hero__text__title">このワクワクを、もっと先へ。</h1>
            <p class="hero__text__desc">川越あとゼミでは、あなたの好奇心にしっかり応えて「一歩先」へと導く講座を催しています。</p>
            <P class="hero__text__desc">「まちゼミ」でワクワクしたあのお店、あの講座、あの先生と一緒に、もっと先の世界を覗いてみませんか？</P>
        </div>
        <div class="hero__img">
            <img
                srcset="
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_200.jpg 200w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_377.jpg 377w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_512.jpg 512w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_609.jpg 609w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_693.jpg 693w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_771.jpg 771w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_845.jpg 845w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_909.jpg 909w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_971.jpg 971w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1032.jpg 1032w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1090.jpg 1090w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1143.jpg 1143w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1196.jpg 1196w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1247.jpg 1247w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1297.jpg 1297w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1342.jpg 1342w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1396.jpg 1396w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1399.jpg 1399w,
                <%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1400.jpg 1400w"
                src="<%= $img+"/common/old-map/284692-P677SL-411_vubgpo_c_scale" %>,w_1400.jpg"
                alt="メイン画像">
        </div>
    </section>
    <section class="latest --g">
        <div class="latest__text --u">
            <h2 class="latest__text__title">第2回あとゼミ参加受付中！</h2>
            <p class="latest__text__desc">第12回川越まちゼミに引き続いて開催される第2回あとゼミでは、パワーアップした講座内容であなたをお待ちしております。</p>
        </div>
        <div class="latest__list --u">
            <ul class="latest__list__wrap">
                <% for (var i = 0; i < Object.keys(latest.courses).length; i++) { %>
                <li class="latest__list__item"><a href="#"><%- latest.courses["course"+(i+1)].title %></a></li>
                <% } %>
            </ul>
        </div>
    </section>
    <section class="points">
        <div class="points__title">
            <h2>川越あとゼミとは？</h2>
        </div>
        <div class="points__cards --g">
            <div class="points__card --u">
                <i class="fas fa-crown points__card__icon"></i>
                <h3 class="points__card__title">まちゼミのパワーアップ講座</h3>
                <p class="points__card__desc">大人気イベント「まちゼミ」のパワーアップ講座を受けられるのが「あとゼミ」です！</p>
            </div>
            <div class="points__card --u">
                <i class="far fa-smile-wink points__card__icon"></i>
                <h3 class="points__card__title">無料または材料費だけ！</h3>
                <p class="points__card__desc">「受講料は無料または材料費だけ」というまちゼミのコンセプトはそのまま継承しています！</p>
            </div>
            <div class="points__card --u">
                <i class="fas fa-store points__card__icon"></i>
                <h3 class="points__card__title">地元のお店をもっと知ろう！</h3>
                <p class="points__card__desc">まちゼミで知ったお店にもう一度行って、あの先生と仲良くなるチャンス！</p>
            </div>
        </div>
    </section>
    <div class="parallax-box">
        <img class="rellax"
            data-rellax-percentage="0.8"
            srcset="
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_200.jpg 200w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_356.jpg 356w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_479.jpg 479w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_575.jpg 575w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_673.jpg 673w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_769.jpg 769w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_850.jpg 850w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_941.jpg 941w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1024.jpg 1024w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1103.jpg 1103w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1178.jpg 1178w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1251.jpg 1251w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1322.jpg 1322w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1397.jpg 1397w,
            <%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1400.jpg 1400w"
            src="<%= $img+"/common/lesson/lesson_rozbm2_c_scale" %>,w_1400.jpg"
            >
    </div>
    <section class="machizemi --g">
        <div class="machizemi__text --u">
            <h3 class="machizemi__text__title">姉妹イベント　川越まちゼミ</h3>
            <p class="machizemi__text__desc">川越あとゼミは、川越まちゼミと趣旨を同じくする姉妹イベントです。</p>
            <p class="machizemi__text__desc">川越まちゼミは、お客様・お店・まちの出会いや繋がりを活性化させるための講座を行いながら信頼関係を構築し川越市全体のイメージアップを目指しています。</p>
            <a class="machizemi__text__btn btn--prime" href="https://kawagoe-machizemi.net/" target="__blank">川越まちゼミ公式サイトへ</a>
        </div>
        <div class="machizemi__img">
            <img
                srcset="
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_200.jpg 200w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_351.jpg 351w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_465.jpg 465w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_561.jpg 561w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_647.jpg 647w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_729.jpg 729w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_805.jpg 805w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_870.jpg 870w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_936.jpg 936w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_999.jpg 999w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1057.jpg 1057w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1116.jpg 1116w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1172.jpg 1172w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1229.jpg 1229w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1285.jpg 1285w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1333.jpg 1333w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1383.jpg 1383w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1398.jpg 1398w,
                <%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1400.jpg 1400w"
                src="<%= $img+"/common/machizemi-groupPhoto/machizemi-groupPhoto_tzy3fv_c_scale" %>,w_1400.jpg"
                alt="まちゼミ参加店舗の集合写真">
        </div>
    </section>
    <%- include($partial+'/_footer.ejs', {my_id: me.id, $root: '.' }) %>
</body>
</html>